{% extends "base.html" %}
{% block aboutactive %} active {% endblock aboutactive %}

{% block title %} About Us{% endblock %}
{% block body %}
<main role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3">iCoder</h1>
            <p>Welcome to iCoder, a leading platform dedicated to empowering individuals in their journey through
                coding, programming, and web development. Our mission at iCoder is to provide comprehensive resources,
                expert guidance, and a supportive community for learners of all levels, from beginners to seasoned
                professionals.
                At iCoder, we understand that the world of technology is ever-evolving, and keeping up can be
                challenging. That's why we're committed to offering the latest industry insights, practical tutorials,
                and hands-on projects to help you stay ahead of the curve. Whether you're exploring coding for the first
                time or seeking to enhance your skills, iCoder is here to support you every step of the way.
                Our team of experienced developers and educators is passionate about sharing their knowledge and
                expertise to help you succeed. From Python to JavaScript, HTML to CSS, we cover a wide range of
                programming languages and technologies to ensure that you have the tools you need to thrive in today's
                digital landscape.</p>
            <!-- <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p> -->
        </div>
    </div>

    <div class="container">
        <!-- Example row of columns -->
        <div class="row">
            <div class="col-md-4">
                <h2>Founder</h2>
                <p>Sahil Sapkal, the visionary founder behind iCoder, is a passionate advocate for technology education
                    and empowerment. With a deep-rooted belief in the transformative power of coding and programming,
                    Sahil embarked on a mission to democratize access to quality tech education and create a platform
                    where individuals from all backgrounds could learn, grow, and thrive in the digital age.
                    Sahil's journey into the world of technology began at a young age when he discovered his fascination
                    with computers and coding. Fuelled by his curiosity and determination, he immersed himself in
                    learning various programming languages and honing his skills. As he navigated through the
                    complexities of the tech industry, Sahil recognized the need for a platform that would simplify the
                    learning process and provide aspiring developers with the resources and support they need to
                    succeed.
                    Driven by his passion for education and technology, Sahil founded iCoder with the vision of building
                    a global community of learners, innovators, and creators. His dedication to making coding accessible
                    to all has shaped iCoder into a leading platform for tech education, offering comprehensive
                    tutorials, practical projects, and a supportive community for learners of all levels.</p>
                <!-- <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p> -->
            </div>
            <div class="col-md-4">
                <h2>Co-Founder</h2>
                <p>Meet Harry, the visionary co-founder of iCoder, a trailblazing platform dedicated to democratizing
                    coding education and empowering learners worldwide. With a profound passion for technology and
                    education, Harry embarked on a mission to create a space where individuals from all backgrounds
                    could access quality resources and support to excel in the world of coding and programming.
                    Harry's journey into the realm of technology began with a deep-seated curiosity and a thirst for
                    knowledge. As he navigated through the complexities of coding and web development, he recognized the
                    need for a platform that could simplify the learning process and provide comprehensive guidance to
                    aspiring developers. </p>
                <!-- <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p> -->
            </div>
            <div class="col-md-4">
                <h2>Sponsor</h2>
                <p>
                    We are thrilled to introduce Kunal Sapkal, the esteemed sponsor of iCoder, whose unwavering support
                    and dedication have been instrumental in shaping our platform into what it is today. With a deep
                    passion for education and technology, Kunal's vision aligns perfectly with iCoder's mission to
                    democratize coding education and empower learners worldwide.
                    Kunal's journey into the world of technology began with a profound appreciation for the
                    transformative power of coding and its potential to drive innovation and change. Recognizing the
                    importance of providing accessible and high-quality resources to aspiring developers, Kunal
                    generously lent his support to iCoder, fueling our efforts to create a dynamic and inclusive
                    learning environment.</p>
                <!-- <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p> -->
            </div>
        </div>

        <hr>

    </div> <!-- /container -->

</main>

{% endblock %}