{% extends "base.html" %}
{% block title %}Home{% endblock title %}
{% block homeactive %} active{% endblock homeactive %}
{% block js %}

<script>
    let previews = document.getElementsByClassName('preview');
    Array.from(previews).forEach((element)=>{
        element.innerHTML = element.;
    })
</script>

{% endblock js %}
{% block body %}

<div class="container my-3">
    <div class="jumbotron">
        <h1 class="display-4">Welcome to iCoder!</h1>
        <p class="lead">Your ultimate destination for all things related to coding, programming, and web development. At iCoder, we're passionate about empowering aspiring developers and seasoned professionals alike to unlock their full potential in the world of technology. Whether you're a beginner taking your first steps into the realm of coding or an experienced coder looking to stay ahead of the curve, iCoder is here to support and guide you on your journey. From comprehensive tutorials and in-depth articles to practical tips and industry insights, our platform is designed to provide you with the resources and knowledge you need to thrive in today's fast-paced tech landscape. Join us at iCoder and embark on a transformative learning experience as you master the art of coding and shape the future of technology.
        </p>
        <hr class="my-4">
        <p>"Unlocking the Code to Your Success"</p>
        <a class="btn btn-primary btn-lg" href="/blogs" role="button">Go to Blog</a>
    </div>
</div>


<div class="container my-3">
    <div class="text-center">
        <h2>Checkout our popular Blog Posts</h2>
        <p class="lead">We are sure you will love it.</p>
    </div>
    {% for post in allPosts  %}
    {% if post.views > 100 %}
    <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2 text-primary">Article by {{post.author}} ({{post.views}}views)</strong>
            <h3 class="mb-0">{{post.title}}</h3>
            <div class="mb-1 text-muted">{{post.timeStamp}}</div>
            <p class="card-text mb-auto"><div class="preview">{{post.content| safe | truncatechars:400}}...</div></p>
                <div class='my-2'>
            <a href="/blogs/{{post.slug}}" role="button" class="btn btn-primary">Continue reading</a>
        </div>
    </div>
        <div class="col-auto d-none d-lg-block">

        </div>
    </div>
    {% endif %}
    {% endfor %}
</div>

{% endblock body %}